In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame([[.46,0,.57,0,0,0,.2],[0,.2,.34,.46,0,.1,0],[0,0,0,.2,.4,.9,0]],columns=['today','sun','rain','books','however','city','construction'])

In [11]:
df

   today  sun  rain  books  however  city  construction
0   0.46  0.0  0.57   0.00      0.0   0.0           0.2
1   0.00  0.2  0.34   0.46      0.0   0.1           0.0
2   0.00  0.0  0.00   0.20      0.4   0.9           0.0